<header>
  <div class="navbar-container">
    <!-- navbar section -->
    <nav class="navbar d-flex justify-content-between">
      <div class="logo">
        <a routerLink="/">
          <img src="assets/images/logo/Logo.png" alt="logo">
        </a>
      </div>

      <div class="nav-pages">
        <a routerLink="/services" class="me-4">Services</a>
        <a routerLink="/scheduleConsult">Schedule a Consult</a>
      </div>
    </nav>
  </div>

  <!-- main banner section -->
  <div class="main-banner">
    <div class="banner-text">
      <h1 class="display-1 text-light banner-title">Jonas & Brown Legal</h1>
      <div class="row">
        <div class="col-8 banner-subtitle">
          <p>Deep expertise, decisive courtroom presence</p>
        </div>
        <div class="col-3 text-light small-text">
          <p>We've been serving the Los Angeles area with expert legal counsel since 1976.</p>
        </div>
      </div>
    </div>
  </div>
</header>