<!-- main banner section -->

<!-- <section class="main-banner">
  <div class="banner-text">
    <h1 class="display-1 banner-title">Jonas & Brown Legal</h1>
    <div class="row">
      <div class="col-8 banner-subtitle">
        <p>Deep expertise, decisive courtroom presence</p>
      </div>
      <div class="col-3 small-text">
        <p>We've been serving the Los Angeles area with expert legal counsel since 1976.</p>
      </div>
    </div>
  </div>
</section> -->

<section class="main-banner d-flex align-items-end">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-1 banner-title">Jonas & Brown Legal</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-8 col-lg-7">
        <p class="banner-subtitle">
          Deep expertise, decisive courtroom presence.
        </p>
      </div>
      <div class="col-12 col-md-4 col-lg-5">
        <p class="small-text"> We've been serving the Los Angeles area with expert legal counsel since 1976.</p>
      </div>
    </div>
  </div>
</section>